[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
astroid = "==2.4.2"
certifi = "==2020.6.20"
colorama = "==0.4.3"
distlib = "==0.3.1"
filelock = "==3.0.12"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
pipenv = "==2020.6.2"
pylint = "==2.5.3"
six = "==1.15.0"
toml = "==0.10.1"
virtualenv = "==20.0.29"
virtualenv-clone = "==0.5.4"
virtualenvwrapper-win = "==1.2.6"
wrapt = "==1.12.1"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"

[requires]
python_version = "3.8"
